.mainframe{
     -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #4257CE,#C94EC0);
 }

 .topNavButton{
     -fx-background-color: transparent;
     -fx-text-fill: #FFFFFF;
     -fx-font-size: 20;
     -fx-font-weight: bold;
     -fx-border-radius: 25 25 25 25;
     -fx-background-radius: 25 25 25 25;
 }

 .topNavButton:hover{
     -fx-scale-y: 1.1;
     -fx-scale-x: 1.1;
 }

 .leftText{
     -fx-font-size: 12;
     -fx-fill: #FFFFFF;
 }

 .leftButton{
     -fx-background-color: transparent;
     -fx-border:3;
     -fx-border-color:#FFFFFF;
     -fx-text-fill: #FFFFFF;
     -fx-font-size: 20;
     -fx-border-radius: 15 15 15 15;
     -fx-background-radius: 15 15 15 15;
 }
 .listazzButton{
     -fx-background-color: rgb(0,0,0,0);
     -fx-border:3;
     -fx-border-color:#FFFFFF;
     -fx-text-fill: #FFFFFF;
     -fx-font-size: 20;
     -fx-border-radius: 15 15 15 15;
     -fx-background-radius: 15 15 15 15;
 }

 .centerText{
     -fx-font-size: 20;
     -fx-fill: #FFFFFF;
 }

 // Background color of the control itself
 .userCB {
   -fx-background-color: transparent;
   -fx-mark-color: white; // arrow color
   -fx-border:3;
   -fx-border-color:#FFFFFF;
   -fx-border-radius: 15 15 15 15;
   -fx-background-radius: 15 15 15 15;
 }

 // Selected item text color on the control itself
 .userCB > .label {
    -fx-text-fill: white;
    -fx-font-size: 20;
 }
